# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

#arquivos de mídia
media/

#Sistema operacionais
.DS_store
Thumbs.db

#Logs
*.log

#IDE
.idea
.vscode